# Configuration of Hugo
# Guide: https://wowchemy.com/docs/getting-started/
# Hugo Documentation: https://gohugo.io/getting-started/configuration/#all-configuration-settings
# This file is formatted using YAML syntax - learn more at https://learnxinyminutes.com/docs/yaml/

title: Fabian C. Moss # Website name
baseurl: 'https://www.fabian-moss.de/' # Website URL
copyright: '© {year} Fabian C. Moss' # Footer text, e.g. '© {year} Me'

############################
## LANGUAGE
############################

defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## MODULES
############################

theme: 
  - "wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a"
  - "wowchemy-cms/v5@v5.0.0-20211231133358-6d4989f90f7a"

module:
  mounts:
    - source: themes/wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a/assets
      target: assets
    - source: themes/wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a/layouts
      target: layouts
    - source: themes/wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a/static
      target: static
    - source: themes/wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a/data
      target: data
    - source: themes/wowchemy/v5@v5.0.0-20211231133358-6d4989f90f7a/archetypes
      target: archetypes
    - source: assets
      target: assets

############################
## ADVANCED
############################

enableGitInfo: false
summaryLength: 30
paginate: 10
enableEmoji: true
enableRobotsTXT: true
footnotereturnlinkcontents: <sup>^</sup>
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$]
permalinks:
  event: '/talk/:slug/'
  tags: '/tag/:slug/'
  categories: '/category/:slug/'
  publication_types: '/publication-type/:slug/'
disableAliases: true
outputs:
  home: [HTML, RSS]
  section: [HTML, RSS]
imaging:
  resampleFilter: lanczos
  quality: 75
  anchor: smart
timeout: 600000
taxonomies:
  tag: tags
  category: categories
  publication_type: publication_types
  author: authors
markup:
  _merge: deep
related:
  threshold: 80
  includeNewer: true
  toLower: true
  indices:
    - name: tags
      weight: 100
    - name: categories
      weight: 70
security:
  _merge: deep